.pieces-slider {
	position: relative;
	text-align: center;
	padding: 8rem 0;
	z-index: 10000;
}

.js .pieces-slider {
	padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
	position: absolute;
	right: 100%;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
	max-width: 600px;
	max-height: 400px;
}

.js .pieces-slider__image {
	visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
	text-indent: -9999px;
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
	position: relative;
	width: 60vw;
	left: 1vw;
	height: 100vh;
	transition: 0.2s opacity;
}

@media screen and (max-width: 63em){
.js .pieces-slider__canvas {
	position: relative;
	width: 100vw;
	left: -1em;
	height: 100vh;
	transition: 0.2s opacity;
}
}


/* Class for when we resize */
.pieces-slider__canvas--hidden {
	opacity: 0;
	transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
	position: absolute;
	left: 0em;
	top: 50%;
	width: 80px;
	height: 80px;
	margin: -25px 0 0 0;
	background-color: transparent;
	color: #686868;
	font-family: 'Comfortaa';
	font-weight: bold;
	border: none;
	cursor: crosshair;
	opacity: 1;
	transition: 0.1s background-color;
	z-index: 900;
	font-size: 1.8em;
}

.pieces-slider__button:hover {
	background: transparent;
	color: #333;
	transition: .5s;
}

.pieces-slider__button--next {
	left: auto;
	right: 0;
}

.pieces-slider__button--prev {
	left: -.5em;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
	display: none;
}

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
	.pieces-slider__image {
		max-width: 300px;
	}
}

@media screen and (max-width: 55em) {
	.pieces-slider__canvas {
		width: 100vw;
		height: 100vw;
	}
	.pieces-slider__button {
		width: 40px;
		height: 40px;
	}
}
