
/*-------------------------------------------------*\
*--------------------style.CSS----------------------*
\*-------------------------------------------------*/

/* CONTENTS */

/* 
*
*  #Global
*  #Headers
*  #Icons
*  #Shadows - (click areas)
*  #Menu
*  #Sections
*
*
*
*
*
*/

/*-------------------------------------------------*\
*--------------------#Global------------------------*
\*-------------------------------------------------*/

*,
*::after,
*::before {
box-sizing: border-box;
cursor: crosshair;
}

html {
	background: transparent;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
}

body {
	--color-text: #fff;
	--color-link: #f0f0f0;
	--color-link-hover: #fff;
	font-family: 'Comfortaa';
	min-height: 100vh;
	color: #fff;
	background-color: #cbcbcb; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200vh;
	position: absolute;
	display: block;
}

/* Links */

a {
	text-decoration: none;
	color: #636363;
	outline: none;
}

a:hover,
a:focus {
	color: #636363;
	cursor: crosshair;
}

a:focus,
button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Tiny Page detail - Numbers (01/02 & 02/02)*/

.txt-detail1{
	position: absolute;
	color: #686868;
	top: -50vh;
	left: 1em;
	font-size:.8em;
	font-weight: 800;
	transform: rotate(-90deg);
}

	.txt-detail2{
		position: absolute;
		color: #686868;
		top: 10vh;
		left: 1em;
		font-size:.8em;
		font-weight: 800;
		transform: rotate(-90deg);
	}


/*-------------------------------------------------*\
*--------------------#Headers-----------------------*
\*-------------------------------------------------*/



h1,h2,h3,h4,h5,h6{
	color:#333;
}

/* CHRIS WOOLF - Animated Header */

.info {
	margin: 0 0 0 1.25em;
}

#container-ani {
	top: -1.5em;
	left: 2.45em;
	position: absolute;
	display: fixed;
	transform: translate(-50%, -50%);
	animation: fadeIn 3s;
	z-index: 1;
	}
	
	@media screen and (max-width: 62em) {
		#container-ani {
			top: -1.8em;
			left: 1.9em;
			position: absolute;
			display: fixed;
			transform: translate(-50%, -50%), scale(60%);
			animation: fadeIn 3s;
			z-index: 900;
			}
	}

/* self-typing Header */

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.typeit { 
	position: absolute;
	display: fixed;
	color: #686868;
	left: 60vw;
	top: 50vh;
	font: bold 100% Consolas, Monaco, monospace;
	border-right: .1em solid #686868;
	width: 19.5em; 
	width: 26ch;
	margin: 1em 1em;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 3s steps(21, end),
			   blink-caret .5s step-end 6 alternate;
			   animation-delay: 5s;
			   animation-fill-mode: both;
}
/* Slide in low title */
.web-portfolio{
	position: absolute;
	top: 85vh;
	left: 105vw; 
}
.web-portfolio-title{
	position: relative;
	color: #fff;
	z-index: 10000;
}
/*-------------------------------------------------*\
*--------------------#Icons-------------------------*
\*-------------------------------------------------*/

/* For Mobiles */
@media screen and (max-width: 55em){
.body,
html{
    overflow: hidden;
}
.fa-codepen,
.fa-github,
.fa-linkedin{
	z-index: 11;
}
.typeit{
	left: 25%;
	top: 75vh;
	font-size: .8em;
}
}


/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
}

.project-list{
	position: relative;
	display: inline-block;
	left: 45%;
}

.social1,
.social2,
.social3{
	position: absolute;
	display: fixed;
	left: 87vw;
	width: 100%;
	font-size: 2em;
}

.social1{
	top: 104vh;
}
.social2{
	top: 110vh;
}
.social3{
	top: 116vh;
}

.social1:hover,
.social2:hover,
.social3:hover{
	background-color: #686868;
	transition: 1s;
	color: #fff;
	left: 88vw;
}

.fa-codepen:hover,
.fa-github:hover,
.fa-linkedin:hover{
	font-size: 1em;
	padding: .5em;
}

.fa-codepen,
.fa-github,
.fa-linkedin{
	font-size: 1em;
	padding: .5em;
}


main {
	position: relative;
	width: 100%;
}

/*-------------------------------------------------*\
*--------------------#Shadows-(click areas)---------*
\*-------------------------------------------------*/

.shdw,
.shdw-link {
	position: absolute;
	display: block;
	left: 5vw;
	width: 40vw;
	height: 90vh;
	top: 1vh;
	margin-top: 0em;
	z-index: 900;
	opacity: 0;
}

.shdw2{
	position: absolute;
	left: 3vw;
	width: 45vw;
	height: 50vh;
	top: 68vh;
	z-index: 900;
	opacity: 0;
}

/* For Mobiles */
@media screen and (max-width: 62em)
{
	.shdw-link,
	.shdw {
		position: center;
		display: block;
		top: 13vh;
		left: 12vw;
		width: 60vw;
		height: 55vh;
		opacity: 0;
	}
	.shdw2{
		position: absolute;
		left: 5vw;
		width: 80vw;
		height: 90vh;
		top: 50vh;
		z-index: 1900;
		opacity: 0;
	}
} 

/*-------------------------------------------------*\
*--------------------#Gallery-(click areas)---------*
\*-------------------------------------------------*/

.content {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
	left: -100vw;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github demos';
}

.content--fixed a {
	pointer-events: auto;
}

	
@media screen and (max-width: 55em) {
	body {
		overflow: hidden;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
}

/*-------------------------------------------------*\
*--------------------#Menu--------------------------*
\*-------------------------------------------------*/
	
  /* Layout styles only, not needed for functionality */
  
  div.grid {
	display: inline-block;
	grid-column-gap: .5em;
	grid-row-gap: 1em;
	grid-template-columns: repeat(1, 1fr);
	top: 1em;
  }
  
  @media (min-width: 31em) {
	.grid {
	  grid-template-columns: repeat(2, 1fr);
	}
	}
	
	.chart{
		display: inline-block;
	}

	.topnav {
		background-color: transparent;
		overflow: hidden;
		width: 100vw;
		position: relative;
		z-index: 3;
		padding-bottom: 0px;
		top: 0em;
		left: 0;
		opacity: 0;
	  }
	  
	  /* Style the links inside the navigation bar */
	  .topnav a {
		float: left;
		display: block;
		color: #686868;
		text-align: center;
		padding: 14px 36px 14px 36px;
		text-decoration: none;
		font-size: 1em;
		font-weight: 800;
	  }
	  
	  /* Change the color of links on hover */
	  .topnav a:hover {
		background-color: transparent;
		color: #fff;
		transition: .5s;
	  }
  
  /* Add an active class to highlight the current page */
  .active {
	background-color: transparent;
	color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
	font-size: 30px;
	margin-top: -.2em;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 62em) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		padding-right: 1.5em;
		padding-bottom: 1.3em;
		z-index: 900;
	}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 62em) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
		text-align: left;
	}
	}
	@media screen and (min-width: 62em) {
	.topnav {
		background-color: transparent;
		overflow: hidden;
		width: 100vw;
		position: relative;
		z-index: 3;
		padding-bottom: 0px;
		left: 50vw;
		top: .5em;
	  }
	  
	  /* Style the links inside the navigation bar */
	  .topnav a {
		float: left;
		display: block;
		color: #686868;
		text-align: center;
		padding: 14px 36px 14px 36px;
		text-decoration: none;
		font-size: 1em;
		font-weight: 800;
	  }
	  
	  /* Change the color of links on hover */
	  .topnav a:hover {
		background-color: transparent;
		color: #fff;
		transition: .5s;
	  }

	}
	

/*-------------------------------------------------*\
*----------------#Sections--------------------------*
\*-------------------------------------------------*/

.first{
width: 100%;
height: 100vh;
}

.second {
	position: relative;
	top: 100vh;
    width: 100%;
    height: 100vh;
	z-index: -1;
}


.pierone{
	position: absolute;	
	display: fixed;
	margin-left: 25em;
	margin-top: 3em;
	width: 45%;
	z-index: -1;
}

/* Pier One Project */
.p1{
	position: absolute;
	left: -100vw;
	top: -15vh;
	z-index: -1;
	filter: brightness(68%);
}

.web-txt-box{
	position: absolute;
	font-size: 9em;
	left: 5.5vw;
	top: -103vh;
	z-index: 140;
}

.web-icons{
	position: absolute;
	font-size: 1.8em;
	left: 26vw;
	top: -42vh;
	z-index: 140;
}

.web-about{
	position: absolute;
	font-size: 1em;
	top: 13.5vw;
	left: -88vw;
	z-index: 140;
	color: #fff;
	width: 35vw;
	text-align: justify;
	background-color: #4f7d9b1d;
	padding: .8em 1em;
}

.explore{
	position: absolute;
	font-size: 1.8em;
	left: 103vw;
	top: 33vh;
	z-index: 140;
	color: #fff;
}

.explore a{
	color: #fff;
}

.explore a:focus,
.explore a:hover{
	color: #cbcbcb;
}

@media screen and (max-width: 63em){
.p1{
	position: absolute;
	left: -100vw;
	top: 3vh;
	z-index: -1;
	width: 300px;
	}
	
.web-txt-box{
	position: absolute;
	font-size: 3.5em;
	left: 1em;
	top: -102vh;
}

.web-about{
	position: absolute;
	font-size: .8em;
	top: 35vw;
	left: -108vw;
	z-index: 140;
	color: #fff;
	width: 60vw;
	text-align: justify;
}

.web-icons{
	position: absolute;
	font-size: 1em;
	left: 8vw;
	top: -53vh;
	z-index: 140;
}
.explore{
	position: absolute;
	font-size: 1.8em;
	left: 129vw;
	top: 74.5vh;
	z-index: 940;
}
}

/* Acountants Project */
.p2{
	position: absolute;
	left: -95vw;
	width: 65%;
	top: .5em;
	z-index: -1;
}
	
.web-txt-box2{
	position: absolute;
	font-size: 3.5em;
	left: 1.5em;
	top: -107vh;
	width: 50vw;
	color: #fff;
	font-weight: 800;
	line-height: 1.5em;
}

.web-about2{
	position: absolute;
	font-size: 1em;
	top: -.7vh;
	left: -95vw;
	z-index: 140;
	color: #fff;
	width: 38vw;
	text-align: justify;
	background-color: #4f7d9b1d;
	padding: .8em 1em;
}

.explore2{
	position: absolute;
	font-size: 1.8em;
	left: 153vw;
	top: 33vh;
	z-index: 140;
	color: #fff;
}

.explore2 a{
	color: #fff;
}

.explore2 a:focus,
.explore2 a:hover{
	color: #cbcbcb;
}

@media screen and (max-width: 63em){
	.p2{
		position: absolute;
		left: -100vw;
		width: 65%;
		top: 0em;
		z-index: -1;
	}	
		
	.web-txt-box2{
		position: absolute;
		font-size: 1.5rem;
		left: 2em;
		top: -108vh;
		width: 80%;
		color: #fff;
		line-height: 1em;
	}
	
	.web-about2{
		position: absolute;
		font-size: .8em;
		top: 30vw;
		left: -108vw;
		z-index: 140;
		color: #fff;
		width: 60vw;
		text-align: justify;
	}
	
	.explore2{
		position: absolute;
		font-size: 1.8em;
		left: 109vw;
		top: 74.5vh;
		z-index: 940;
	}
	}

	/* About Page */
	/* Summary Section */

	.work-body{
		margin: 1em;
	}
	/* Summary */
	.summary{
		position: absolute;
		width: 38%;
		height: 10vh;
		font-size: .8em;
		color: #636363;
		text-align: justify;
		top: 9.75em;
	}

	@media screen and (max-width: 55em){
		.summary{
			font-size: .6em;
			top: 23vh;
		}
		.expertise-header{
			font-size: .8em;
		}
	}
	@media screen and (max-width: 30em){
		.summary{
			font-size: .4em;
			top: 29vh;
		}
		.expertise-header{
			font-size: .6em;
		}
	}

	.summary-header{
		text-transform: uppercase;
		font-size: 1.2em;
		border-bottom: 1px solid #333;
		padding-bottom: .8em;
	}

	/* Expertise Section */

	.expertise{
		position: absolute;
		width: 38%;
		height: 10vh;
		font-size: .8em;
		color: #636363;
		text-align: justify;
		top: 28em;
		padding-top: 3em;
	}

	.expertise-header{
		text-transform: uppercase;
		border-bottom: 1px solid #333;
		padding-bottom: .8em;
		left: .5em;
	}

	/* Graphic Circles */

	.circles{
		position: relative;
		padding: 1rem 0em 0em 0em;

	}

	.exp-circle1{
		position: relative;
		top: 5em;
		left: 3.3vw;
		width: 7em;
		height: 7em;
		border: 1px solid #636363;
		border-radius: 50% 50%;
		transform: scale(2);
	}


	.exp-img0{
		width: 5em;
		height: 5em;
		margin-left: 1em;
		margin-top: 1em;
		opacity: .7;
	}

	.exp-img1{
		width: 7em;
		height: 7em;
		margin-left: -.1em;
		margin-top:-.1em;
		opacity: .7;
	}

	.circle-dot{
		position: absolute;
		width: .5em;
		height: .5em;
		background: #636363;
		border-radius: 50% 50%;
		left: 50%;
		margin-left: -.37em;
		bottom: -.3em;
	}


	.circle-dot-top{
		position: absolute;
		width: .5em;
		height: .5em;
		background: #636363;
		border-radius: 50% 50%;
		left: 50%;
		top: -5%;
		margin-left: -.37em;
		bottom: -.3em;
	}

	.circle-line{
		position: absolute;
		width: 0em;
		height: 2em;
		background: #636363;
		border-right: 1px solid #636363;
		left: 50%;
		margin-left: -.2em;
		bottom: -2em; 
	}

	.circle-line-top{
		position: absolute;
		width: 0em;
		height: 2em;
		background: #636363;
		border-right: 1px solid #636363;
		left: 50%;
		top: -30%;
		margin-left: -.173em;
		bottom: -2em; 
	}

	.expertise-title{
		position: center;
		text-align: center;
		padding-top: 2em;
	}

	.expertise-title-top{
		position: absolute;
		text-align: center;
		padding-top: .5em;
		top: -75%;
		left: 20%;
		font-weight: 800;
	}

	/* Circle2 */

	.exp-circle2{
		position: relative;
		width: 7em;
		height: 7em;
		border: 1px solid #636363;
		border-radius: 50% 50%;
		left: 17em;
		top: 4.5em; 
		transform: scale(2);
	}
/* Super Large Screens (4k) */
@media screen and (max-width: 2560px){
	.exp-circle1{
		left: 4em;
	}
	
	.exp-circle2{
		left: 15em;
	}

}
/* Medium Screens (tablets) */
	@media screen and (max-width: 95em){
		.exp-circle1,
		.cirle-line{
			transform: scale(1.25);
			left: 1em;
		}
		.exp-circle2{
			transform: scale(1.25);
			left: 8.5em;
			top: 0em;
		}
		.circles{
			top: -3em;
		}
	}

	@media screen and (max-width: 55em){
		.exp-circle1,
		.cirle-line{
			transform: scale(.75);
			left: -1em;
		}
		.exp-circle2{
			transform: scale(.75);
			left: 3.5em;
			top: 0em;
		}
		.circles{
			top: -6.5em;
		}
	}

/* Circles - Expertise for Mobile screens */
	@media screen and (max-width: 30em){
		.exp-circle1,
		.cirle-line{
			transform: scale(0.5);
			left: -2em;
			top: -2em;
		}
		.circle-line-top{
			height: 1em;
			top: -1em;
		}
		.exp-circle2{
			transform: scale(0.5);
			left: 1em;
			top: -8.4em;
		}
		.circle-dot-top{
			left: 50%;
			top: -5%;
		}
		.expertise-title-top{
			position: absolute;
			top: -60%;
			left: 20%;
		}
		.circles{
			top: -.5em;
		}
	}

	/* Portfolio */
	.portfolio{
		position: absolute;
		width: 100%;
		height: 10vh;
		font-size: .8em;
		color: #636363;
		text-align: justify;
		padding-top: 2.75em;
	}

	@media screen and (max-width: 55em){
		.portfolio{
			font-size: .6em;
			top: 23vh;
		}
	}
	@media screen and (max-width: 30em){
		.portfolio{
			font-size: .4em;
			top: 16vh;
		}
	}

	.portfolio-header{
		text-transform: uppercase;
		font-size: 1em;
		border-bottom: 1px solid #333;
		padding-bottom: .8em;
	}
