body section {
    background:transparent;
    margin: 60px auto 120px;
    text-align: center;
    padding: 50px 0 110px;
    width: 100vw;
    max-width: 100vw;
    font-family: 'Comfortaa' !important;
  }
  body section h1 {
    margin-bottom: 40px;
    font-size: .8em;
    font-family: 'Comfortaa';
    color: #282828;
    font-weight: 800;
  }
  
  form {
    width: 58.3333333333%;
    margin: 0 auto;
  }

  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    padding: 18px 0;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field label + span {
    font-family: 'Comfortaa';
    font-weight: 800;
    opacity: 0;
    color: #cdcdcd;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: .8em;
    text-shadow: 1px 2px 0 transparent;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"],
  form .field textarea {
    border: none;
    background: #cbcbcb;
    width: 80.5%;
    margin: 0;
    padding: 26px 0;
    padding-left: 19.5%;
    color: #636363;
    font-size: .8em;
    letter-spacing: 0.05em;
  }
  form .field input[type="text"]#msg,
  form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form .field input[type="text"]:focus, form .field input[type="text"].focused,
  form .field textarea:focus,
  form .field textarea.focused {
    outline: none;
  }
  form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
  form .field textarea:focus#msg,
  form .field textarea.focused#msg {
    padding-bottom: 150px;
  }
  form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
  form .field textarea:focus + label,
  form .field textarea.focused + label {
    width: 18%;
    background: #cbcbcb;
    color: #636363;
  }
  form .field input[type="text"].focused + label,
  form .field textarea.focused + label {
    color: #282828;
    font-family: 'Comfortaa';

  }
  form .field:hover label {
    width: 25%;
    background: #cbcbcb;
    color: #282828;
  }
  form input[type="submit"] {
    background: #cbcbcb;
    color: #282828;
    -webkit-appearance: none;
    border: none;
    position: relative;
    padding: 13px 50px;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-family: 'Comfortaa';
    font-weight: 800;
    margin-top: 3em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }
  form input[type="submit"]:hover {
    background: #cbcbcb;
    color: #fff;
  }
  form input[type="submit"]:focus {
    outline: none;
    background: #636363;
  }
  