* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: 'Comfortaa';
}

body {
  width: 100%;
  background: #eae7dc;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.navBar::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #1a1a1d;
  font-size: 48px;
  font-family: 'Comfortaa';
}

p {
  color: #1a1a1d;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Comfortaa';
}

/* navbar */

nav {
  height: 70px;
  line-height: 70px;
}

nav a img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

nav a:nth-child(2) {
  float: right;
}

/* header */

header {
  margin: 100px 0 100px 120px;
}

header p {
  width: 60%;
  margin-top: 10px;
}

/* .work */

.work {
  margin-left: 10%;
  text-align: justify;
  width: 80%;
}

.work img {
  margin: 1%;
  width: 45%;
  padding-bottom: 1em;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}

/* footer */
footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}

/* Responsiveness */

@media only screen and (max-width: 991px) {
  header {
        text-align: left;
        margin: 100px 0 100px 30px;
  }

  header h1 {
        font-size: 36px;
  }

  header p {
        font-size: 12px;
        width: 90%;
  }

  .work img {
        margin: 2%;
        width: 90%;
  }

  .header2 {
        margin: 130px 0 40px 12px;
  }

  .header2 h1 {
        font-size: 36px;
  }

  .header2 p {
        font-size: 12px;
        width: 90%;
  }

  .work2 img {
        margin: 2%;
  }
}


/*HEADER - MENU*/


/*Header*/


.header{
  position: absolute;
  height: 0em;
  left: 0em;
}


.title{
  font-family: 'Comfortaa';
  margin-top: -.5em;
  position: absolute;
  z-index: 900;
  background-color: none;
}

#container-ani {
  top: 0%;
  position: absolute;
  display: fixed;
  transform: translate(-50%, -50%);
  animation: fadeIn 3s;
  z-index: 900;
}
/* Menu */

a {
  color: #000;
}
/* header */

.header {
  background-color: none;
  position: fixed;
  width: 100%;
  z-index: 900;
}

.header ul {
  margin: -5em 0em 0em 0em;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: none;
}

.header li a {
  display: block;
  padding: 30px 30px;
  border-right: 1px solid none;
  text-decoration: none;
  font-family: 'Comfortaa';
  text-transform: uppercase;
  font-weight: 800;
  background-color: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: none;
}

.header li a:hover{
  transition: .8s ease-in-out;
  font-weight: 800;

}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  left: -3em;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 30px;
  position: absolute;
  user-select: none;
  margin-top: 5vh;
  margin-left: 79vw;
  font-family: 'Comfortaa';
}

.header .menu-icon .navicon {
  background: #333;
    display: block;
    height: 1px;
    position: absolute;
    transition: background 0.2s ease-out;
    width: 58px;
    left: -3.5em;
    top: -6.5em;
    padding: .1em 0em .1em 0;


}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  margin-top: 25vh;
  z-index: 999;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 55em) {
  .header li {
    float: left;
    margin-right: 6em  
  }
  .header li a {
    padding: 1em .01em;
    font-size: 1em;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    color: #000;
    z-index: 19900;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 48em){
  .header li a{
           background-color: #eae7dc;
  }
}

.gallery img{
  position: relative;
  width: 80vw;
  left: 10vw;
  filter: grayscale(100%);
}

@media screen and (max-width: 48em){
  .gallery img{
    position: relative;
    width: 75vw;
    left: 12.5vw;
    filter: grayscale(100%);
  }
}

@media screen and (max-width: 48em){
  .contact-txt{
    text-align: center;
  }
}

.contact-txt{
  text-align: center;
}