/*-------------------------------------------------*\
*--------------------style.CSS----------------------*
\*-------------------------------------------------*/

*,
*::after,
*::before {
box-sizing: border-box;
cursor: crosshair;
}

html {
background: transparent;
overflow-x: hidden;
overflow-y: scroll;
position: absolute;
width: 100vw;
}

body {
margin: 0;
--color-text: #ffffff;
--color-link: #f0f0f0;
--color-link-hover: #fff;
font-family: 'Comfortaa';
min-height: 100vh;
color: #fff;
background-color: #fff; 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
overflow-y: scroll;
overflow-x: hidden;
width: 100%;
position: relative;
cursor: crosshair !important;
z-index: 0;
}

section {
  margin-top: 5em;
  width: 100vw;
}

a{
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 3.5em;
  width: 7em;
  left: 1em;
  height: 7em;
}
h5 {
  display: inline-block;
  color: #636363;
  font-weight: 300;
  text-decoration: bold;
  padding-left: 5em;
  text-align: left;
  margin-left: 10vw;
  position: relative;
  line-height: 1em;
}

.view-more{
  display: flex;
  position: absolute;
  top: 6.25em;
  right: 4em;
  text-decoration: none;
}

.view-more a{
  text-decoration: none;
  color: #636363;
}

.view-more a:hover,
.view-more a:hover{
  color: #888;
}

.fa-chevron-right{
  color: #636363;
  position: absolute;
  right: 2em;
  top: 6.25em;
  font-weight: 300;
}

@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

body {
  margin: 0;
  height: calc(100vh - 8em);
  font-family: "Muli", sans-serif;
}

span.title {
  text-align: left;
  position: relative;
  color: #333;
  padding-left: 1em;
  font-size: .8em;
  font-weight: 600;
}
span.author-title {
  text-align: left;
  position: relative;
  color: #333;
  padding-left: 1em;
  font-size: .8em;
}

img {
  width: 145px;
  height: 220px;
}

.container {
  width: 100vw;
  position: relative;
  text-align: center;

}

.items {
  display: inline-block;
  padding: 10px;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 25s infinite alternate linear;
}

@media screen and (min-width: 768px) {

}

.entry {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 300px;
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}
  

.container {
  width: 100%;
  position: absolute;
  height: 100%;
}

ul {
  display: flex;
  text-align: left;
  line-height: 1em;
  list-style: none;
  width: 100vw;
}

li{
  padding: 10px;
}

.button {
  display: block;
  width: 90px;
  height: 35px;
  background-color:#FF6000;
  color: #fff;
  border-radius: .35em;
  margin-top: 3em;
  margin-left: 50%;
  transform: translate( -50%, -50%);
  letter-spacing: 0cm;
  padding: 0em;
  overflow: hidden;
}

.button:hover {
  border: none;
}

.button-text{
  padding: 0em;
  width: 100%;
  font-size: .8em;
  font-weight: 800;
  display: block;
  line-height: 2em;
  letter-spacing: -0.1em;
}


@keyframes carouselAnim{
	0%{margin-left: 0vw;}
  100%{margin-left: -80vw;}
}
